@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/Lojas-de-doces.jpeg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.363);
}

main {
    text-align: center;
}

.container {
    padding: 0 35%;
}

main img {
    width: 100px;
}

.foto {
    background-color: rgba(255, 255, 255, 0.514);
}

label,
select {
    display: block;
}

input,
textarea {
    margin-bottom: 15px;
}

select {
    margin: 0 auto 15px;
}

.metodoPagamento label,
.opcionais label {
    display: inline-block;
    margin: 0 10px 0 0;
}

button {
    margin: 3% 0;
}